<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Server</title>
    <link rel="stylesheet" href="/public/about.css" />
  </head>
  <body>
    <p>
      Edward Christopher Sheeran MBE (/ˈʃɪərən/ SHEER-ən; born 17 February 1991)
      is an English singer-songwriter. Born in Halifax, West Yorkshire, and
      raised in Framlingham, Suffolk, he began writing songs around the age of
      eleven. In early 2011, Sheeran independently released the extended play
      No. 5 Collaborations Project. He signed with Asylum Records the same year.
    </p>
  </body>
</html>
